body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  background:  url("https://github.com/Sebastianglos/sebastianglos.github.io/blob/main/8727.jpg?raw=true") no-repeat fixed center;
  background-size:cover;
}

.belka  {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 30px;  
  border: 3px solid Lightgrey;
  align-content:stretch;
  color:white;

.belka a{
  position: center;
color: grey;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  width: 400px;
}

}
.baner ul {
  position: center;
  top: 300px;
  margin: 0 auto;
}

.baner li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.baner  li.logo {
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}
